/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  font-size: 13px;
  color: #666666;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

.table {
  color: #666666;
}

.pointer {
  cursor: pointer;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #666666;
  border-color: #666666;
}

a,
a:hover,
a:active,
a:visited,
a:link {
  color: #666666;
  text-decoration: none;
}

.pagination {
  justify-content: center;
}
